:root {
    --primary-color: #CF0026;
    --secondary-color: #DC0028;
    --accent-color: #555;
    --background-color: #f7f7f7;
    --font-color: #333;
    font-family: Poppins, sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
